@import "tailwindcss";



@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


:root {
  /* Colors */
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #3b141c;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;

  /* Font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* Site max width */
  --site-max-width: 1300px;
}

html {
  scroll-behavior: smooth;
}

/* Stylings for whole site */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

img {
  width: 100%;
}

:where(section, footer) .section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}

section .section-title {
  text-align: center;
  padding: 60px 0 100px;
  text-transform: uppercase;
  font-size: var(--font-size-xl);
}

section .section-title::after {
  content: "";
  width: 80px;
  height: 5px;
  display: block;
  margin: 10px auto 0;
  background: var(--secondary-color);
  border-radius: var(--border-radius-s);
}

/* Navbar styling */
header {
  z-index: 5;
  width: 100%;
  position: fixed;
  background: var(--primary-color);
}

header .navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  max-width: var(--site-max-width);
}

.navbar .nav-logo .logo-text {
color: var(--secondary-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
  gap: 10px;
  display: flex;
}

.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  color: var(--white-color);
  font-size: var(--font-size-m);
  border-radius: var(--border-radius-m);
  transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}

.navbar :where(#menu-open-button, #menu-close-button) {
  display: none;
}

/* Hero section styling */
.hero-section {
  min-height: 100vh;
  background: var(--primary-color);
}

.hero-section .section-content {
  display: flex;
  padding-top: 40px;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
}

.hero-section .hero-details {
  color: var(--white-color);
}

/* .hero-section .hero-details .title {
  font-size: var(--font-size-xxl);
  color: var(--secondary-color);
  font-family: "Miniver", sans-serif;
} */

.hero-section .hero-details .title {
  font-size: var(--font-size-xxl);
  color: var(--secondary-color);
  font-family: "Miniver", sans-serif;

  white-space: nowrap;
  overflow: hidden;

  width: 0;
  animation: typing 4s steps(30, end) infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  60% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}


/* Home page text size */
.hero-section .hero-details .subtitle {
  margin-top: 8px;
  max-width: 70%;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}



/* For home button */
.hero-section .hero-details .buttons {
  display: flex;
  gap: 23px;
}

.hero-section .hero-details .button {
  padding: 10px 26px;
  display: block;
  border: 2px solid transparent;
  border-radius: var(--border-radius-m);
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  transition: 0.3s ease;
}

.hero-section .hero-details .button:hover,
.hero-section .hero-details .button.contact-us {
  color: var(--white-color);
  border-color: var(--white-color);
  background: transparent;
}

.hero-section .hero-details .button.contact-us:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}

.hero-section .hero-image-wrapper .hero-image {
  max-width: 1000px;
  margin-right: 400px;
  
}
.hero-section .hero-image-wrapper:hover .hero-image {
  transform: scale(1.08);
}


/* About section styling */
.about-section {
  padding: 120px 0;
  background: var(--light-pink-color);
}

.about-section .section-content {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.about-section .about-image-wrapper .about-image {
  height: 400px;
  width: 400px;
  object-fit: cover;
  /* transition: cubic-bezier(0.165, 0.84, 0.44, 1); */
  /* border-radius: var(--border-radius-circle); */
}
.about-section .about-image-wrapper:hover .about-image {
  transform: scale(1.28);
}

.about-section .about-details {
  max-width: 50%;
}

.about-section .about-details .section-title {
  padding: 0;
}

.about-section .about-details .text {
  line-height: 30px;
  margin: 50px 0 30px;
  text-align: center;
  font-size: var(--font-size-m);
}








/* Education section styling */
.education-section {
  padding: 120px 0;
  background: var(--light-pink-color);
}

.education-section .section-content {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.education-image {
  width: 880px;
  height: 480px;
  object-fit: cover;
  border-radius: 10px; /* optional: thoda smooth look */
}


.education-section .education-details .section-title {
  padding: 0;
}

.education-section .education-details .text {
  line-height: 20px;
  margin: 30px 0 30px;
  text-align: center;
  font-size: var(--font-size-m);
}



  .education-section .social-link-list .social-link {
    color: var(--primary-color);
    font-size: var(--font-size-l);
    transition: 0.2s ease;
  }

.education-section .social-link-list .social-link:hover {
  color: var(--secondary-color);
}



/* Skills section styling */
.skills-section {
  padding: 120px 0;
  background: var(--light-pink-color);
}

.skills-section .section-content {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.skills-section .skills-image-wrapper .skills-image {
  height: 550px;
  width: 550px;
  object-fit: cover;
  border-radius: var(--border-radius-circle);
}

.skills-section .skills-details {
  max-width: 50%;
}

.skills-section .skills-details .section-title {
  padding: 0;
}

.skills-section .skills-details .text {
  line-height: 15px;
  margin: 20px 0 20px;
  text-align: center;
  font-size: var(--font-size-m);
}







/* certificates section styling */
.certificates-section {
  padding: 120px 0;
  background: var(--light-pink-color);
}

.certificates-section .section-content {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.certificates-section .certificates-image-wrapper .certificates-image {
  height: 550px;
  width: 950px;
  object-fit: cover;
  /* border-radius: var(--border-radius-circle); */
}

.certificates-section .certificates-details {
  max-width: 50%;
}

.certificates-section .certificates-details .section-title {
  padding: 0;
}

.certificates-section .certificates-details .text {
  line-height: 25px;
  margin: 30px 0 30px;
  text-align: center;
  font-size: var(--font-size-m);
}








/* Projects section styling */
.projects-section {
  padding: 60px 0;
  background: var(--light-pink-color);
}

.projects-section .section-content {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.projects-section .projects-image-wrapper .projects-image {
  height: 500px;
  width: 1800px;
  object-fit: cover;
  /* border-radius: var(--border-radius-circle); */
}



.projects-section .projects-details .section-title {
  padding:  0;
}

.projects-section .projects-details .text {
  line-height: 20px;
  margin: 30px 0 30px;
  text-align: center;
  font-size: var(--font-size-m);
}

.projects-section .social-link-list {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.projects-section .social-link-list .social-link {
  color: var(--primary-color);
  font-size: var(--font-size-l);
  transition: 0.2s ease;
}






/* Experiance section styling */
.experiance-section {
  padding: 120px 0;
  background: var(--light-pink-color);
}

.experiance-section .section-content {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.experiance-section .experiance-image-wrapper .experiance-image {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: var(--border-radius-circle);
}

.experiance-section .experiance-details {
  max-width: 50%;
}

.experiance-section .experiance-details .section-title {
  padding: 0;
}

.experiance-section .experiance-details .text {
  line-height: 30px;
  margin: 50px 0 30px;
  text-align: center;
  font-size: var(--font-size-m);
}

.experiance-section .social-link-list {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.experiance-section .social-link-list .social-link {
  color: var(--primary-color);
  font-size: var(--font-size-l);
  transition: 0.2s ease;
}






/* Contact section styling */
.contact-section {
  padding: 50px 0 100px;
  background: var(--light-pink-color);
}

.contact-section .section-content {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: space-between;
}

.contact-section .contact-info-list .contact-info {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  align-items: center;
}

.contact-section .contact-info-list .contact-info i {
  font-size: var(--font-size-m);
}

.contact-section .contact-form .form-input {
  width: 100%;
  height: 50px;
  padding: 0 12px;
  outline: none;
  margin-bottom: 16px;
  font-size: var(--font-size-s);
  border-radius: var(--border-radius-s);
  border: 1px solid var(--medium-gray-color);
}

.contact-section .contact-form {
  max-width: 50%;
}

.contact-section .contact-form textarea.form-input {
  height: 100px;
  padding: 12px;
  resize: vertical;
}

.contact-section .contact-form .form-input:focus {
  border-color: var(--secondary-color);
}

.contact-section .contact-form .submit-button {
  padding: 10px 28px;
  outline: none;
  margin-top: 10px;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-m);
  background: var(--primary-color);
  color: var(--white-color);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  transition: 0.3s ease;
}

.contact-section .contact-form .submit-button:hover {
  color: var(--primary-color);
  background: transparent;
}

.owner-image {
  width: 480px;
  height: auto;
  border-radius: 10px;
}

/* Footer section styling */
.footer-section {
  padding: 20px 0;
  background: var(--dark-color);
}

.footer-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-section :where(.copyright-text, .social-link, .policy-link) {
  color: var(--white-color);
  transition: 0.2s ease;
}

.footer-section .social-link-list {
  display: flex;
  gap: 25px;
}

.footer-section .social-link-list .social-link {
  font-size: var(--font-size-l);
}

.footer-section .social-link-list .social-link:hover,
.footer-section .policy-text .policy-link:hover {
  color: var(--secondary-color);
}

.footer-section .policy-text .separator {
  color: #fff;
  margin: 0 5px;
}

/* Responsive media query code for max width 1024px */
@media screen and (max-width: 1024px) {
  .menu-section .menu-list {
    gap: 60px;
  }

  .menu-section .menu-list .menu-item {
    width: calc(100% / 3 - 60px);
  }

}

/* Responsive media query code for max width 900px */
@media screen and (max-width: 900px) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.2rem;
    --font-size-xl: 1.4rem;
    --font-size-xxl: 1.7rem;
  }

  /* GLOBAL */
  section {
    padding: 80px 0;
  }

  section .section-title {
    padding: 40px 0 60px;
    text-align: center;
  }

  /* NAVBAR */
  body.show-mobile-menu {
    overflow: hidden;
  }

  .navbar :is(#menu-open-button, #menu-close-button) {
    display: block;
    font-size: var(--font-size-l);
  }

  .navbar .nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 280px;
    background: #fff;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    transition: left 0.3s ease;
  }

  body.show-mobile-menu .nav-menu {
    left: 0;
  }

  .navbar .nav-menu .nav-link {
    color: var(--dark-color);
    font-size: var(--font-size-l);
    margin: 12px 0;
  }

  /* HERO */
  .hero-section .section-content {
    flex-direction: column-reverse;
    text-align: center;
    gap: 40px;
  }

  .hero-section .hero-details .subtitle {
    max-width: 100%;
  }

  .hero-section .hero-image-wrapper {
    max-width: 260px;
    margin: 0 auto;
  }

  /* ABOUT */
  .about-section .section-content {
    flex-direction: column-reverse;
    text-align: center;
    gap: 40px;
  }

  .about-section .about-details {
    max-width: 100%;
  }

  .about-section .about-image-wrapper .about-image {
    max-width: 250px;
    height: auto;
  }

  /* EDUCATION */
  .education-section .section-content {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .education-section .education-details {
    max-width: 100%;
  }

  /* SKILLS */
  .skills-section .section-content {
    flex-direction: column-reverse;
    text-align: center;
    gap: 40px;
  }

  .skills-section .skills-details {
    max-width: 100%;
  }

  .skills-section .skills-image-wrapper .skills-image {
    max-width: 280px;
    height: auto;
  }

  /* CERTIFICATES */
  .certificates-section .section-content {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .certificates-section .certificates-details {
    max-width: 100%;
  }

  .certificates-section .certificates-image-wrapper .certificates-image {
    width: 100%;
    height: auto;
  }

  /* PROJECTS */
  .projects-section .section-content {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .projects-section .projects-image-wrapper .projects-image {
    max-width: 300px;
    height: auto;
  }

  /* EXPERIENCE */
  .experiance-section .section-content {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .experiance-section .experiance-details {
    max-width: 100%;
  }

  .experiance-section .experiance-image-wrapper .experiance-image {
    max-width: 260px;
    height: auto;
  }

  /* CONTACT */
  .contact-section .section-content {
    flex-direction: column;
    gap: 40px;
  }

  .contact-section .contact-form {
    max-width: 100%;
  }

  /* FOOTER */
  .footer-section .section-content {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}
